/*
    Document   : editor
    Created on : Oct 17, 2011, 10:47:58 AM
    Author     : Darryl Meganoski
    Description: !!! IMPORTANT READ FIRST
		This is the stylesheet referenced by the Tiny MCE wysiwyg editor.

		It will also be the custom stylesheet for your pages.

		The classes you add here will be available under the styles menu in the editor

		The ID's you add here will not, though they will still affect both the editor
			and your pages.

		Use only lower-case letters for your style classes; for some reason the
			editor converts them to lower case when injecting them 
			into the code. Styles in upper case will have no effect. 
*/

/*
   TODO document this file, the wysiwyg editor's styles.
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root {
    display: block;
}
/*------------------!-!-!- Important: this will be both your editor and custom pages's
overall max and min width limit. (Custom hack) If your content does not seem to fill the entire page,
adjust the values below */
div#FancyPage {
	position: relative;
	margin: 10px auto;
	max-width: 680px;
	min-width: 680px;
}
/*------------------------------ Style Classes -------------------------------*/
.background_000 {
	background: #000;
}
.background_111 {
	background: #111;
}
.background_222 {
	background: #222;
}
.background_333 {
	background: #333;
}
.background_444 {
	background: #444;
}
.background_555 {
	background: #555;
}
.background_666 {
	background: #666;
}
.background_777 {
	background: #777;
}
.background_888 {
	background: #888;
}
.background_999 {
	background: #999;
}
/*---------------------------- Positional Classes -----------------------------*/
.float_center {
	margin-left: auto;
	margin-right: auto;
}
.float_left {
	float: left;
}
.float_right {
	float: right;
}
.overflow_hidden {
	overflow: hidden;
}
/*-------------------------- My Custom Styles (TD) ---------------------------*/
h1 {
    color: #0063dc;
    margin: 5px 10px;
    padding: 10px 0 10px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #CCC;
    text-align: center;
	font-size: 120%;
}
h2 {
    color: #FF6600;
    margin: 5px 0;
    border: none;
    text-align: center;
}
p.Block {
    color: #666666;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-align: center;

}
div.Heading h1 {
	color: #666;
	border-top: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
	margin: 10px 10px 0;
	padding: 5px;
	width: auto;
	text-align: center;
}
div.Heading h2 {
	text-align: center;
	color: #666;
	font-size: 13px;
}
/*------------------------------- HomePage -----------------------------------*/
div#AnimationWrapper {
	position: relative;
    margin: 5px 0;
    height: 235px;
    background: url('/themes/TinsDirect/design/images/bg-mr.gif') no-repeat right top;
}
div#Animation {
    width: 355px;
    height: 238px;
    background: url('/themes/TinsDirect/design/images/animation.gif') no-repeat left top;
    float: left;
}
div.Welcome {
	width: 400px;
	position: absolute;
	top: 4px;
	right: 15px;
}
/*--------------------------- Getting Started Page ---------------------------*/
ul.BeforeStart {

}
ul.BeforeStart li {
	border: 1px solid #CCC;
	padding: 20px 20px 20px 70px;
}
ul.Steps li#Step1 {
	background: url('images/numbers/glass_numbers_1.png') no-repeat 10px center;
}
ul.Steps li#Step2 {
	background: url('images/numbers/glass_numbers_2.png') no-repeat 10px center;
}
ul.Steps li#Step3 {
	background: url('images/numbers/glass_numbers_3.png') no-repeat 10px center;
}
ul.Steps li#Step4 {
	background: url('images/numbers/glass_numbers_4.png') no-repeat 10px center;
}