/*
    Document   : widgetchoices
    Created on : Oct 13, 2011, 6:21:46 PM
    Author     : Darryl Meganoski
    Description:
        Styles specifically for the widget choices
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root {
    display: block;
}

div.HTMLBox div.WidgetBox {

}
div.HTMLBox ul.Widgets {

}
div.HTMLBox ul.Widgets li {
	position: relative;
	background: dimgrey;
	margin: 5px 5px 15px;
	padding: 5px;
	width: 50px;
	height: 50px;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
div.HTMLBox ul.Widgets li.Expanded {
	margin: 5px;
	height: 60px;
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
}
div.HTMLBox div.WidgetBox div.WidgetInfo {
	display: none;
	position: absolute;
	left: -5px;
	top: 60px;
	background: dimgrey;
	width: 300px;
	height: 200px;
	margin: 5px;
	padding: 5px;
	border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 5px 5px 5px;
	z-index: 90;
}